
.swiper {
    width: 90vw;
    height: auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;

    object-fit: cover;
    height: auto;
  }
  .top-categorish{
    width: 100vw;
    height: 40vh;
   
    background-color: #F9F9F9;
    position: relative;
  }
  .top-categorish .title{
    text-align: center;
    margin-top: 2vw;
    font-size: 2vw;
    
  }
  .top-categorish .card-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    height: 30vh;
    margin-top: 2vw;
  }
  
  .top-categorish .card{
    width: 12%;
    height: 70%;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  .top-categorish .card-Container .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden ;
    transition: transform 0.3s ease;


  }
  .top-categorish .card-Container .card:hover{
    
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card:hover img {
    transform: scale(1.1);
  }
  .featuredCategories{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeeee;
  }
  .featuredCategories .featured-container{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .featuredCategories .featured-container .title{
    font-size: 1vw;
  }
  .card-conatiner{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    margin-top: 1vw;
    align-items: center;
    justify-content: center;
    
  
  }
  .featuredCategories .featured-container .card-conatiner .featured-card{
    width: 9vw;
    height: 20vh;
    background-color:white;
    z-index: 2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7vw;
    color: rgb(8, 8, 179);
    font-weight: 700;
  }
  .featuredCategories .featured-container .card-conatiner .featured-card img{
    width: 50%;
    height: 50%;
  }
  .featuredCategories .featured-container .card-conatiner .featured-card p{
    text-align: center;
  }
.about{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.about img{
  width: 20%;
  height: 60%;
  border-radius: 5px;
}
.about .about-container {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  margin-left: 15vw;
}
.about .about-container h1{
  font-size: 2vw;
}
.about .about-container p{
  font-size: 0.8vw;
}
.detail{
  width: 100vw;
  height: 40vh;
  background-color: #EFEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}
.detail .detailCard{
  width: 20%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4vw;
}
.detail .detailCard img{
  width: 10%;
  height: 20%;
}
.detail .detailCard h5{
  font-size: 0.9vw;
}
.detail .detailCard p{
  font-size: 0.7vw;

}
  @media (max-width: 1200px){
    .top-categorish .card {
      width: 16%;
      height: 70%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .featuredCategories {
      width: 100vw;
      height: 83vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #efeeee;
    }
    .featuredCategories .featured-container .card-conatiner .featured-card {
      width: 14vw;
      height: 20vh;
      background-color: white;
      z-index: 2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.7vw;
      color: rgb(8, 8, 179);
      font-weight: 700;
    }
    .featuredCategories .featured-container .title {
      font-size: 1.5vw;
    }
    .about .about-container {
      width: 42%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1vw;
      margin-left: 15vw;
    }
    .about .about-container h1 {
      font-size: 2.4vw;
    }
    .about .about-container p {
      font-size: 1.2vw;
    }
    .about img {
      width: 27%;
      height: 60%;
      border-radius: 5px;
    }
    .detail .detailCard {
      width: 22%;
      height: 60%;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.4vw;
    }
  }
  @media (max-width: 992px) {
    
    .swiper-slide img {
        display: block;
        width: 100%;
    
        object-fit: cover;
    
      }
      .top-categorish .card {
        width: 16%;
        height: 70%;
        background-color: white;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
      }
      .featuredCategories .featured-container {
        width: 84%;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .featuredCategories .featured-container .card-conatiner .featured-card {
        width: 17vw;
        height: 20vh;
        background-color: white;
        z-index: 2;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.7vw;
        color: rgb(8, 8, 179);
        font-weight: 700;
      }
      .about .about-container {
        width: 49%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
        margin-left: 15vw;
      }
      .about img {
        width: 31%;
        height: 60%;
        border-radius: 5px;
      }
      .about .about-container h1 {
        font-size: 2.8vw;
      }
      .about .about-container p {
        font-size: 1.4vw;
      }
      .about .about-container {
        width: 49%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
        margin-left: 8vw;
      }
      .detail .detailCard img {
        width: 20%;
        height: 20%;
      }
      .detail .detailCard h5 {
        font-size: 1.2vw;
      }
      .detail .detailCard p {
        font-size: 0.9vw;
      }

  }
  @media (max-width: 768px){
    .top-categorish .title {
      text-align: center;
      margin-top: 2vw;
      font-size: 3vw;
    }
    .top-categorish {
      width: 100vw;
      height: 55vh;
      background-color: #F9F9F9;
      position: relative;
    }
    .top-categorish .card {
      width: 16%;
      height: 70%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .top-categorish .card {
      width: 28%;
      height: 70%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .featuredCategories .featured-container .card-conatiner .featured-card {
      width: 21vw;
      height: 20vh;
      background-color: white;
      z-index: 2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.7vw;
      color: rgb(8, 8, 179);
      font-weight: 700;
    }
    .featuredCategories {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #efeeee;
    }
    .featuredCategories .featured-container .title {
      font-size: 1.8vw;
    }
    .about .about-container p {
      font-size: 1.6vw;
    }
    .about .about-container h1 {
      font-size: 3.2vw;
    }
    .detail {
      width: 100vw;
      height: 52vh;
      background-color: #EFEEEE;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1vw;
    }
    .detail .detailCard {
      width: 34%;
      height: 43%;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.6vw;
    }
    .detail .detailCard h5 {
      font-size: 1.5vw;
    }
    .detail .detailCard p {
      font-size: 1.3vw;
    }
  }
  @media (max-width: 576px){
    .top-categorish {
      width: 100vw;
      height: 53vh;
      background-color: #F9F9F9;
      position: relative;
    }
    .top-categorish .title {
      text-align: center;
      margin-top: 2vw;
      font-size: 4vw;
      margin-bottom: 1vw;
    }
    .top-categorish .card {
      width: 29%;
      height: 70%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .top-categorish .card-Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3vw;
      height: 30vh;
      margin-top: 2vw;
    }
    .top-categorish .card-Container .card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      overflow: hidden ;
      transition: transform 0.3s ease;
  
  
    }
    .top-categorish .card-Container .card:hover{
    
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .card:hover img {
      transform: scale(1.1);
    }
    .featuredCategories .featured-container .card-conatiner .featured-card {
      width: 26vw;
      height: 20vh;
      background-color: white;
      z-index: 2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.7vw;
      color: rgb(8, 8, 179);
      font-weight: 700;
    }
    .featuredCategories .featured-container .title {
      font-size: 2.2vw;
    }
    .about img {
      width: 30%;
      height: 45%;
      border-radius: 5px;
    }
    .about {
      width: 100vw;
      height: 27vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
    }
    .detail {
      width: 100vw;
      height: 52vh;
      background-color: #EFEEEE;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5vw;
    }
    .detail .detailCard img {
      width: 24%;
      height: 23%;
    }
    .detail .detailCard h5 {
      font-size: 2vw;
    }
    .detail .detailCard p {
      font-size: 1.6vw;
    }
  }
  @media (max-width: 480px){
    .top-categorish {
      width: 100vw;
      height: 71vh;
      background-color: #F9F9F9;
      position: relative;
    }
    .top-categorish .card {
      width: 42%;
      height: 70%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .mittsure-container .container1 .title2 button {
      padding: -10.2vw;
      color: green;
      background-color: white;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 2vw;
    }
    .featuredCategories {
      width: 100vw;
      height: 154vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #efeeee;
    }
    .featuredCategories .featured-container .card-conatiner .featured-card {
      width: 30vw;
      height: 20vh;
      background-color: white;
      z-index: 2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.7vw;
      color: rgb(8, 8, 179);
      font-weight: 700;
    }
    .card-conatiner {
      width: 100%;
      height: 80%;
      display: flex;
      gap: 4vw;
      flex-wrap: wrap;
      margin-top: 1vw;
      align-items: center;
      justify-content: center;
    }
    .featuredCategories .featured-container .title {
      font-size: 2.5vw;
    }
    .detail .detailCard {
      width: 43%;
      height: 43%;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.6vw;
    }
    .featuredCategories .featured-container .card-conatiner .featured-card {
      width: 37vw;
      height: 20vh;
      background-color: white;
      z-index: 2;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.7vw;
      color: rgb(8, 8, 179);
      font-weight: 700;
    }
    .search-button {
      display: none;
    }
    .top-categorish .card {
      width: 38%;
      height: 47%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .top-categorish {
      width: 100vw;
      height: 54vh;
      background-color: #F9F9F9;
      position: relative;
    }
    .featuredCategories {
      width: 100vw;
      height: 139vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: #efeeee;
      margin-top: -1vw;
    }
    .about {
      width: 100vw;
      height: 42vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
      flex-direction: column;
    }
    .about img {
      width: 51%;
      height: 52%;
      border-radius: 5px;
      margin-top: 9vw;
    }
    .about .about-container h1 {
      font-size: 4.2vw;
    }
    .about .about-container p {
      font-size: 2.5vw;
      width: 185%;
    }
    .mittsure-container .container1 img {
      width: 44%;
      height: 84%;
      border-radius: 0.7vw;
    }
    .mittsure-container .container1 .title2 h1 {
      color: white;
      line-height: 4vw;
      font-size: 3.3vw;
    }
    .home-container {
      width: 100vw;
      height: 15vh;
      overflow-x: hidden;
    }
    
    .swiper {
      width: 93vw;
      height: auto;
    }
    .top-categorish .title {
      text-align: center;
      margin-top: 2vw;
      font-size: 6vw;
      margin-bottom: 1vw;
    }
    .top-categorish .card {
      width: 77%;
      height: 59%;
      background-color: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .top-categorish .card-Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 6vw;
      height: 30vh;
      margin-top: 2vw;
    }
    .top-categorish {
      width: 100vw;
      height: 106vh;
      background-color: #F9F9F9;
      position: relative;
    }
    .about img {
      width: 88%;
      height: 76%;
      border-radius: 5px;
      margin-top: 9vw;
    }
    .about .about-container h1 {
      font-size: 5.2vw;
    }
    .about .about-container p {
      font-size: 2.8vw;
      width: 185%;
    }
    .swiper-slide img {
      display: block;
      width: 102%;
      object-fit: fill;
      height: 20vh;
    }
    .about {
      width: 100vw;
      height:49vh ;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
      flex-direction: column;
    }
  }